# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
emotion-pt/

# Data (optional if large)
data/train/*
data/test/*

# Model checkpoints (keep only selected ones)
training/models/*.pth
!training/models/emotion_resnet18_cbam_acc67.31_20260103_043038.pth
!training/models/emotion_resnet18_cbam_latest.pth
